{% extends 'base.html' %}
{% load static %}

{% block metadescription %}

{% if category %}
    {{category.description|truncatewords:155}}
{% else %}
    Welcome to MARWAS store where you can buy anything...
{% endif %}

{% endblock %}

{% block title %}

{% if category %}
    {{category.name}} - MARWAS store
{% else %}
    See our new collection - MARWAS store
{% endif %}

{% endblock %}

{% block content %}

{% if  category %}
<div>
    <div class="row my_row_class">
        <div class="mx-auto">
            <p>
                <a href="{% url 'shopapp:allProdCat' %}">Our Product Collections</a>
            </p>
        </div>
    </div>
</div>
{% endif %}

{% if category %}

<div class="mx-auto">
    <img src="{{category.image.url}}" height="500px" width="100%" alt="{{category.name}}">

</div>
<br>

<div>
    <h1 class="text-center my_title">{{category.name}}</h1>
    <p class="text-justify">{{category.description}}</p>
</div>

{% else %}

<div>
    <img class="my_image my_image_padding" src="{% static 'image/banner.png' %}" height="400px" width="1100px" alt="our products">
</div>
<br>

<div>
   <h1 class="text-center my_title"> Product Collection</h1>
    <p class="text-justify">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
    </p>
</div>

{% endif %}

<div class="container">
    <div class="row mx-auto">
        {% for products in products.object_list %}
        <div class="my_bottom_margin col-9 col-sm-12 col-md-4 xol-lg-4">
            <div class="card text-center" style="min-width:18rem">
                <a href="{{products.get_url}}">
                <img class="card-img-top" src="{{products.image.url}}" width="100px" height="300px" alt="{{product.name}}">
                </a>
                <div class="card-body">
                    <h4>{{products.name}}</h4>
                    <p>{{products.price}}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="mx-auto">
        {% if products.paginator.num_pages > 1 %}
        <hr>
        <div class="text-center">
            {% for pg in products.paginator.page_range %}
                <a href="?page={{pg}}" class="btn btn-light btn-sm {% if products.number == pg %}active{% endif %}">{{pg}}</a>
            {% endfor %}
        </div>
        {% endif %}
    </div>
    <br>
</div>
{% endblock %}
